# Specify the Python version
# python_version==3.8

# ChatterBot and its dependencies
chatterbot==1.0.5
chatterbot_corpus==1.2.0

# Streamlit for the user interface
streamlit

# Additional libraries for natural language processing (NLP)
nltk
numpy
pymupdf 
