# Specify the Python version
# python_version==3.8

# Streamlit for the user interface
streamlit

# ChatterBot and its dependencies
chatterbot
chatterbot_corpus

# Additional libraries for natural language processing (NLP)
nltk
numpy
pymupdf 
